<!DOCTYPE html>
<html>
<head>
  <title>Editar Conta</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
    body {
      background-color: #ADD8E6; /* Azul bebê */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .form-container {
      background: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    .form-container div {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="form-container">
    <h1>Editar Conta</h1>
    <%= form_with(model: @user, local: true) do |form| %>
      <div>
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>
      <div>
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>
      <div>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation %>
      </div>
      <div>
        <%= form.submit "Salvar Alterações" %>
      </div>
    <% end %>
  </div>
</body>
</html>