<!DOCTYPE html>
<html>
<head>
  <title>Tipo de Usuário</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<h1>Escolha o Tipo de Usuário</h1>

<%= form_with model: @user, url: set_user_type_path(@user), method: :patch do |form| %>
  <%= form.label :user_type_voluntario, "Voluntário" %>
  <%= form.radio_button :user_type, 'voluntario' %>

  <%= form.label :user_type_anfitriao, "Anfitrião" %>
  <%= form.radio_button :user_type, 'anfitriao' %>

  <%= form.submit "Próximo" %>
<% end %>
</body>
</html>
