<!DOCTYPE html>
<html>
<head>
  <title>Cadastro</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>
</body>
<%= form_with(model: @user, local: true) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :user_type, "Tipo de Usuário" %><br>
    <%= f.radio_button :user_type, 'voluntário' %>
    <%= f.label :user_type_voluntário, "Voluntário" %><br>
    <%= f.radio_button :user_type, 'anfitrião' %>
    <%= f.label :user_type_anfitrião, "Anfitrião" %>
  </div>

  <div class="actions">
    <%= f.submit "Próximo" %>
  </div>
<% end %>

</body>
</html>


