<html>
<body>
<h1>Escolha o Tipo de Usuário</h1>

<%= form_with(model: @user, url: user_types_path, method: :post) do |form| %>
  <div>
    <%= form.radio_button :user_type, 'voluntario' %>
    <%= form.label :user_type_voluntario, 'Voluntário' %>
  </div>
  <div>
    <%= form.radio_button :user_type, 'anfitriao' %>
    <%= form.label :user_type_anfitriao, 'Anfitrião' %>
  </div>
  <%= form.submit 'Próximo' %>
<% end %>
</body>
</html>