<!DOCTYPE html>
<html>
<head>
  <title>Dashboard Anfitrião</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
  body {
    margin: 0;
  }

  .navbar {
    background-color: #F3EDED;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    top: 0;
    z-index: 1000;
  }

  .logo {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .logo-image {
    height: 40px;
    margin-right: 4px;
  }

  .site-name {
    font-size: 24px;
    color: #543333;
    font-weight: bold;
    font-family: Unna;
    line_height: 1;
    display: center;
    align-items: center;
  }

  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Unna;
    color: #000000;
    font-weight: regular;
  }

  .nav-links li {
    margin: 0 15px;
  }

  .nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
  }

  .nav-links a.active {
    font-weight: bold;
    color: #000000; 
  }

  .nav-links a:hover {
    color: #31421F; 
    border-bottom: 2px solid #31421F; 
  }

  .nav-links .dropdown {
    position: relative;
  }

  .nav-links .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F3EDED;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 8px;
  }

  .nav-links .dropdown-content li {
    padding: 12px 16px;
  }

  .nav-links .dropdown:hover .dropdown-content {
    display: block;
  }

  .nav-links .dropdown-content a {
    color: #543333;
    text-decoration: none;
  }

  .nav-links .dropdown-content a:hover {
    background-color: #ddd;
  }

  .nav-links .btn-green {
    background-color: #527332;
    color: white;
    padding: 10px 20px;
    border-radius: 20px; /* Formato arredondado */
    font-size: 18px;
    text-decoration: none;
  }

  .nav-links .btn-green:hover {
    background-color: #B3D491;
  }

  .nav-links .home-link {
  font-weight: bold;
  color: #000000;
  border-bottom: 2px solid #000000;
}

.nav-links .home-link:hover {
  color: #000000; /* Manter a cor preta */
  border-bottom: 2px solid #000000; 
}
  </style>
</head>
<body>
<div class="logo">
      <%= image_tag 'logo.png', alt: 'Logo', class: 'logo-image' %> 
      <span class="site-name"><em>VolunToca<br><em/></span>
      <span class="site-name"><em>Anfitrião<em/></span>
    </div>
    <ul class="nav-links">
      <li><%= link_to 'Geral', '#' %></li>
      <li><%= link_to 'Hospedagem', '#' %></li>
      <li><%= link_to 'Voluntarios', '#' %></li>
    </ul>
  </nav>
  <div class="container">
    <h1>Bem-vindo ao seu Dashboard!</h1>
    <p>Você está logado como: </p>
    <%= yield %>
     </div>    
</body>
</html>